<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    
        <!-- <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div> -->
        <ul class="nav navbar-top-links navbar-left">
            <li>
                <h2> &nbsp;{{ breadCrumbPosition }} </h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="{{ path('backoffice') }}">Accueil</a>
                    </li>
                    {% if breadcrumbs is defined %}
                        {% for li in breadcrumbs %}
                            <li>
                                {{ li|raw }} 
                            </li>
                        {% endfor %}
                    {% endif %}
                </ol>
            </li>
        </ul>
    </nav>
</div>

