{% extends 'base-shop.html.twig' %}



{% block header %}
		<!-- Purple Header -->
	<div class="edge-header deep-purple"></div>

	<!-- Main Container -->
	<div class="container free-bird">
	  	<div class="row">
		    <div class="col-md-12 col-lg-12 mx-auto float-none white z-depth-1 py-2 px-2">

				<!--Naked Form-->
				<div class="card-body">
					<h2 class="h2-responsive"> <strong> Mon compte / R&eacute;capitulatif de la commande  </strong> </h2>
				</div>
				<!--Naked Form-->
		    </div>
	  	</div>
	</div>
<!-- /.Main Container -->

{% endblock %}

